@media (min-width: 1200px) {
  .portfolio__img {
    height: 25rem;
  }
}

@media (max-width: 1199px) {
  .aside {
    left: -27rem;
    &__toggler {
      display: flex;
      left: 3rem;
      &.open {
        left: 30rem;
      }
    }
    &.open {
      left: 0;
    }
  }

  .section {
    left: 0;
    &.open {
      left: 27rem;
    }
    .container {
      padding-top: 7rem;
    }
  }
  .about__info-item {
    p {
      span {
        display: block;
        margin-left: 0;
      }
    }
  }
  .portfolio__img {
    height: 25rem;
  }
}

@media (max-width: 991px) {
  .home {
    &__photo {
      display: none;
    }
    &__info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .service__item,
  .portfolio__item,
  .contacts__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio__img {
    height: 35rem;
  }
}

@media (max-width: 767px) {
  .about__edu,
  .about__experience,
  .about__info,
  .about__skills,
  .service__item,
  .portfolio__item,
  .contacts__item,
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio__img {
    height: 40rem;
  }
}

@media (max-width: 575px) {
  .about__info-item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}
